#FinancasK

/alura/android/FinancasK/*.iml
/alura/android/FinancasK/.gradle
/alura/android/FinancasK/local.properties
/alura/android/FinancasK/.idea
/alura/android/FinancasK/.DS_Store
/alura/android/FinancasK/build
/alura/android/FinancasK/captures
